*{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --bs-primary-rgb: rgb(254, 210, 43); 
    --bs-link-color: rgb(254, 210, 43); 
    --bs-link-hover-color: rgb(254, 210, 43);
}

.social-icons .social-icons:hover {
    background-color: rgb(254, 210, 43); 
}

.resume-section {
    background-color: rgb(255, 250, 240);
}
.resume-section-content .flex-shrink-0 span.text-warning,
.resume-section-content .flex-shrink-0 span.text-primary {
      color: rgb(254, 210, 43);
  }

  .resume-section-content a {
    color: rgb(254, 210, 43);
}